h1{font-family:Verdana, Geneva, Tahoma, sans-serif;
   text-align:center;}
   #banner {
    position: relative;
    text-align: center;
    color: bisque;
    margin-top: 50px;}
    #centered {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
        body{background-color: beige;}

    img{border: 10px solid rgb(7, 139, 210);}